<div class="jumbotron">
    <h1 class="display-4">Welcome to grocery App</h1>
    <p class="lead">
        A complete online App. Buy your home products easy way with low cost with highest dicsounts and earn rewards coupons.
    </p>
    <hr class="my-4">
   <!----- <p>It uses utility classes for typography and spacing to space content out within the larger 
       container.</p>---->
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">purchase</a>
    </p>
  </div>
