<h1 style="text-align:center;">All Product</h1>
<br>
<br>
<div class="row">


    <div class="col-sm-3" *ngFor="let product of products">
      <div class="card">
        <img src="{{'http://rjtmobile.com/grocery/images/'+product.image}}" class="card-img-top" alt="---">
     
        <div class="card-body">
            <h2>{{product.price}}
                <span style="margin-left: 20px;text-decoration: line-through;font-size: 20px;">
                    {{product.mrp}}
                </span>

            </h2>


            <p class="card-text" style="text-overflow: ellipsis;">{{product.description}}</p>


        </div>


     
</div>  
            

        

   </div>

</div>